# Ignore compressed files
*.zip
*.7z
*.rar
*.tar
*.tar.gz

# Ignore .vs directories
.vs/
Binaries/
Build/
Builds/
StagedBuilds/
Library/
Media/

#ignore this as its rather large
SharedPCH.Engine.h.pch